<a href="https://colab.research.google.com/github/Hamid-Mofidi/Python_Intro_for_Machine_Learning/blob/main/Pyth_intro_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 **Python** is a popular programming language that was created by Guido van Rossum and released in 1991. It is used for various purposes, such as web development, software development, data analysis, machine learning, etc. 

Python has a simple and readable syntax that is similar to the English language. It also has many built-in libraries and modules that provide a lot of functionality and features. Python is an interpreted language, meaning that it can run the code without compiling it first. It also supports multiple programming paradigms, such as procedural, object-oriented, and functional. 

Python can help you learn **machine learning** because it has many libraries and frameworks that are designed for machine learning, such as **NumPy, SciPy, pandas, scikit-learn, TensorFlow, PyTorch**, etc. These libraries and frameworks make it easy to perform data manipulation, visualization, preprocessing, modeling, training, testing, and deployment of machine learning models. Python also has a large and active community of developers and researchers who contribute to the development and improvement of these libraries and frameworks.

In [ ]:
# this code cell inspects the values of the variables
a = 4
b = 5
print(a) # print out a
b  # print out b. For the last term, we do not need to write "print..."

4

5

In [ ]:
c = 7
d = 7.0
type(c) # Running this cell just shows type of "d" (the last statement) but not "c"
type(d)

float

In [ ]:
aVariableName = 'hello' # ' ' not common
User_name     = "My name is Hamid"  # " " more common. 
# All of the characters that are on top of the numbers on keyboard are not 
# allowed in variable names with the exception of underscore _ (even space is not allowed)

print(User_name)
type(User_name)

My name is Hamid

str

In [ ]:
%whos 
# shows a list of the variable names that we've created with their types

Variable        Type     Data/Info
----------------------------------
D               dict     n=2
User_name       str      My name is Hamid
a               int      4
aVariableName   str      hello
b               int      5
c               int      7
d               float    7.0

In [ ]:
# Single assignment 
varA = 4
varB = "test"

print(varA)
print(varB)

# Multiple assignment
varC, varD =  5, "test2"

print(varC)
print(varD)

4
test
5
test2

In [ ]:
# Exercise!
# Can we overwrite existing variables?
#   - using the same variable type
#   - using different variable type

# The answer is "YES" (for both)

In [ ]:
t= 6/3  # forward slash is for dividing
print(type(t))
print(t)
a = 1 + 3 \
+ 4

print(a)  # a backslash (\) is a line continuation character. 
   # If a backslash is placed at the end of a line, 
   # it is considered that the line is continued on the next line.
print(type(a))

b = ( 5 + 6 - 
       2)

b # the preferred way of wrapping long lines is by using 
 # Python's implied line continuation inside parentheses, brackets and braces

<class 'float'>
2.0
8
<class 'int'>

9

In [ ]:
print(3 * 5)
print(3 ** 2)
print (9 ** 1/2)
print(9 ** .5)
print(9 ** (1/2))

15
9
4.5
3.0
3.0

In [ ]:
#Overloading
x = 7 
y =4.3
My_first_name  = "Hamid"
My_family_name = "Mofidi"

print(My_first_name + ' ' + My_family_name) # additions are for concatenating the strings
print ("x+y = 11")
print (x+y)
# print (x + '+' + y '=' x+y)   # we cannot use the plus sign for combining "int" and "str"
print(str(x) + '+' + str(y) + '=' + str(x+y) )
print(str(x) + ' ' + '+' + ' ' + str(y) +  '=' + ' ' +  str(x+y) )

Hamid Mofidi
x+y = 11
11.3
7+4.3=11.3
7 + 4.3= 11.3

In [ ]:
# 'input' allows Python to input a value from user

Inp_Num0 = input('Give me a number: ')
Inp_Num1 = float(input('Give me another number: '))

Give me a number: 33
Give me another number: 33

In [ ]:
print(Inp_Num0)
print(Inp_Num1)
print(type(Inp_Num0))
print(type(Inp_Num1))
Inp_Num2 = float(Inp_Num0)
print(type(Inp_Num2))
#Inp_Num0 + 4  does not make sense bcs Inp_Num0 is 'str'
print(Inp_Num1 + 5)

33
33.0
<class 'str'>
<class 'float'>
<class 'float'>
38.0

In [ ]:
# Making Lists
alist = [ 2, 3, 4, 'hi', ['bye', 3, 3.4], -10.2] #you should used ',' to separate the elements of a list. You cannot use ';' or empty space
print(type(alist))
print(alist[0])
print(type(alist[0]))
print(alist[3])
print(type(alist[3]))
print(alist[4])
print(type(alist[4]))

list2= [4,
        1, # a number
        2,
        'hi',
        [1,2,3], # this is a list
        4.5
        ]
type(list2)

<class 'list'>
2
<class 'int'>
hi
<class 'str'>
['bye', 3, 3.4]
<class 'list'>

list

In [ ]:
print(3 in alist)
print(3.3 not in alist)
print(alist*2)
print(alist + list2)
print(len(alist))
5 in alist

True
True
[2, 3, 4, 'hi', ['bye', 3, 3.4], -10.2, 2, 3, 4, 'hi', ['bye', 3, 3.4], -10.2]
[2, 3, 4, 'hi', ['bye', 3, 3.4], -10.2, 4, 1, 2, 'hi', [1, 2, 3], 4.5]
6

False

In [ ]:
# method:
# A 'method' in Python is a function that is associated with an object and can manipulate its data or perform actions on it
# They are called using dot notation, with the object name followed by a period and the method name.
lst= [2, -1, 2,  23, 4.5, 2, -5 ]
lst.append(18)
print(lst)

lst.insert(3,1.5) #it finds the third element which is 2, and put 2.5 after 2.
print(lst)

lst.sort()
print(lst)
lst.sort(reverse=True)
print(lst)

lst.remove(2)
print(lst)
print(lst.count(-3))
lst.count(2)

[2, -1, 2, 23, 4.5, 2, -5, 18]
[2, -1, 2, 1.5, 23, 4.5, 2, -5, 18]
[-5, -1, 1.5, 2, 2, 2, 4.5, 18, 23]
[23, 18, 4.5, 2, 2, 2, 1.5, -1, -5]
[23, 18, 4.5, 2, 2, 1.5, -1, -5]
0

2

**Tuple:**
A tuple in Python is created by placing a sequence of values separated by commas with or without the use of parentheses for grouping the data sequence. A tuple is similar to a list in some ways, such as indexing, nested objects, and repetition, but the main difference is that a tuple is immutable, meaning that it cannot be changed once it is created.

In [ ]:
atuple = (2, 3, 'hi')
btuple = -1, 3, 'hey'
ctuple = [4, -1, 'Hello'] #this is a list, not a tuple
atuple = (2, 4, 'Hii') # Why could I change "atuple" then?!

print(atuple)
print(type(atuple))
print(btuple)
print(type(btuple))
print(ctuple)
print(type(ctuple))

(2, 4, 'Hii')
<class 'tuple'>
(-1, 3, 'hey')
<class 'tuple'>
[4, -1, 'Hello']
<class 'list'>

In [ ]:
# Boolean
t = True
f = False

x=7!=4
print(x)  # Note that x is not 7; x is a True boolean statement which states 7 is not equal to 4

%whos

True
Variable         Type     Data/Info
-----------------------------------
D                dict     n=2
Inp_Num0         str      33
Inp_Num1         float    33.0
Inp_Num2         float    33.0
My_family_name   str      Mofidi
My_first_name    str      Hamid
User_name        str      My name is Hamid
a                int      8
aVariableName    str      hello
alist            list     n=6
atuple           tuple    n=3
b                int      9
btuple           tuple    n=3
c                int      7
ctuple           list     n=3
d                float    7.0
f                bool     False
list2            list     n=6
lst              list     n=8
t                bool     True
varA             int      4
varB             str      test
varC             int      5
varD             str      test2
x                bool     True
y                float    4.3

In [ ]:
# Conjunctive comparison
x = 10
y = 16
print(bool(0))   #bool(0): 0 is the only 'number' for which bool is false; sub 0 by any other numbers to get true
print(bool(''))  #bool(''): '' is the only 'string' for which bool is false; sub '' by any other terms to get true
print(bool('false'))  # the output is true
print(x<12 and y>15 and x+y>25)
x<8 or y>15

False
False
True
True

True

In [ ]:
# Dictionary: key/value pairs
D = dict()
D
# list []
# tuples ()
# dictionaries {}

{}

In [ ]:
# key       # value
D['name'] = 'Hamid' # this is a dictionary that has one element in it
D['age_range'] = [30,50]
print(D)
print('name' in D)
print(D.keys())
print(D.values())
D.items()

{'name': 'Hamid', 'age_range': [30, 50]}
True
dict_keys(['name', 'age_range'])
dict_values(['Hamid', [30, 50]])

dict_items([('name', 'Hamid'), ('age_range', [30, 50])])